{{>navbar}}
{{>sidebar}}
<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Lista de Categorias</h4>
<h6>Ve y busca alguna categoria</h6>
</div>
<div class="page-btn">
<a href="/home/addcategory" class="btn btn-added">
<img src="/img/icons/plus.svg" class="me-1" alt="img">
Añadir Categoria
</a>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
<div class="search-set">

<div class="search-input">
<a class="btn btn-searchset"><img src="/img/icons/search-white.svg" alt="img"></a>
</div>
</div>
<div class="wordset">
<ul>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="/img/icons/pdf.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="/img/icons/excel.svg" alt="img"></a>
</li>
<li>
<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="/img/icons/printer.svg" alt="img"></a>
</li>
</ul>
</div>
</div>



<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<label class="checkboxs">
<input type="checkbox" id="select-all">
<span class="checkmarks"></span>
</label>
</th>
<th>Nombre</th>
<th>Código</th>
<th>Descripción</th>
<th>Acción</th>
<th>Acción</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label>
</td>
<td class="productimgname">
<a href="javascript:void(0);" class="product-img">
<img src="/img/product/noimage.png" alt="product">
</a>
<a href="javascript:void(0);">Accessories</a>
</td>
<td>CT0010</td>
<td>Accessories Description</td>
<td>Admin</td>
<td>
<a class="me-3" href="editcategory.html">
<img src="/img/icons/edit.svg" alt="img">
</a>
<a class="me-3 confirm-text" href="javascript:void(0);">
<img src="/img/icons/delete.svg" alt="img">
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>


