<div id="global-loader">
    <div class="whirly-loader"> </div>
</div>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left active">
            <a href="/" class="logo">
                <img src="/img/imagesd.jpeg" alt="">
            </a>
            <a href="/" class="logo-small">
                <img src="/img/logo.jpg" alt="">
            </a>
        </div>
        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
    </div>