    
    
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a href="/home"><img src="/img/icons/dashboard.svg" alt="img"><span> Inicio </span> </a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/product.svg" alt="img"><span> Productos </span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/home/productlist">Lista de Productos</a></li>
                            <li><a href="/home/categorylist">Lista de Categorias</a></li>
                            <li><a href="/home/brandlist">Lista de Marcas</a></li>
                        </ul>
                    </li>
<!-- <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/sales1.svg" alt="img"><span> Ventas </span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="/home/saleslist">Lista de Ventas</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/purchase1.svg" alt="img"><span> Purchase</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="purchaselist.html">Purchase List</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/expense1.svg" alt="img"><span> Expense</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="expenselist.html">Expense List</a></li>
                            <li><a href="expensecategory.html">Expense Category</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/return1.svg" alt="img"><span> Return</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="salesreturnlist.html">Sales Return List</a></li>
                            <li><a href="purchasereturnlist.html">Purchase Return List</a></li>
                        </ul>
                    </li>
-->
                    <li class="submenu">
                        <a href="javascript:void(0);"><img src="/img/icons/users1.svg" alt="img"><span> Personas</span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="customerlist.html">Lista de Clientes</a></li>
                            <li><a href="supplierlist.html">Lista de Proveedores</a></li>
                            <li><a href="userlist.html">Lista de Usuarios</a></li>
                        </ul>
                    </li>
                    <a href="/logout">Cerrar Sesion</a>
                    
                </ul>
            </div>
        </div>
    </div>