{{>navbar}}
{{>sidebar}}

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Product Add Category</h4>
<h6>Create new product Category</h6>
</div>
 {{#if failureMessage}}
                <div class="alert alert-danger">{{failureMessage}}</div>
            {{/if}}
            {{#if successMessage}}
                <div class="alert alert-danger">{{successMessage}}</div>
            {{/if}}
</div>

<div class="card">
<div class="card-body">
<div class="row">
    <form action="/home/addcategory" method="post">
<div class="col-lg-6 col-sm-6 col-12">
<div class="form-group">
<label>Category Name</label>
<input type="text" name="category">
</div>
</div>
<div class="col-lg-6 col-sm-6 col-12">
<div class="form-group">
<label>Category Code</label>
<input type="number" name="code">
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Description</label>
<textarea class="form-control" name="description"></textarea>
</div>
</div>

<div class="col-lg-12">
<button href="javascript:void(0);" class="btn btn-submit me-2" type="submit">Guardar</a>
<button href="/home/categorylist" class="btn btn-cancel">Cancelar</a>
</div>
</form>
</div>
</div>
</div>

</div>
</div>
</div>
