{{#if failureMessage}}
    <div class="alert alert-danger">{{failureMessage}}</div>
{{/if}}
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="img/paez.png" alt="img" />
                        </div>
                        <div class="login-userheading">
                            <h3>¡BIENVENIDO!</h3>
                            <h4>Por favor ingresa tu cuenta</h4>
                        </div>
                    <form action="/" method="POST">
                        <div class="form-login">
                            <label>Correo</label>
                            <div class="form-addons">
                                <input
                                    type="text"
                                    name="email"
                                    placeholder="Ingresa tu correo electronico"
                                />
                                <img src="img/icons/mail.svg" alt="img" />
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Contraseña</label>
                            <div class="pass-group">
                                <input
                                    type="password"
                                    class="pass-input"
                                    name="password"
                                    placeholder="Ingresa tu contraseña"
                                />
                                <span
                                    class="fas toggle-password fa-eye-slash"
                                ></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <div class="alreadyuser">
                                <h4>
                                    <a
                                        href="forgetpassword.html"
                                        class="hover-a"
                                        >¿Olvidaste tu contraseña?</a
                                    >
                                </h4>
                            </div>
                        </div>
                        <div class="form-login">
                                <button class="btn btn-login" type="submit">Iniciar Sesión</button>
                        </div>
                    </form>    
                    </div>
                </div>
                <div class="login-img">
                    <img src="img/loc.jpeg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</body>
